@page {
  size: A4;
  margin: 12mm;
}

html,
body {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

.page {
  box-sizing: border-box;
  page-break-after: always;
}

.page:last-child {
  page-break-after: auto;
}

.page-break {
  break-after: page;
  page-break-after: always;
}

tr,
.avoid-break {
  break-inside: avoid;
  page-break-inside: avoid;
  -webkit-region-break-inside: avoid;
}
